
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body" [formGroup]="form">

  <h4 class="card-title">Form</h4>
{{form.value|json}}
  <div class="mb-3 row">
      <label for="example-text-input" class="col-md-2 col-form-label">{{form_field1}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('text').invalid && form.get('text').touched" class="form-control" formControlName="text" type="text" value="Artisanal kale" id="example-text-input">
          <small [class.d-none]="form.get('text').valid || form.get('text').untouched" >Text required</small>

      </div>
  </div>
  <div class="mb-3 row">
      <label for="example-search-input" class="col-md-2 col-form-label">{{form_field2}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('search').invalid && form.get('search').touched" class="form-control" formControlName="search" type="search" value="How do I shoot web" placeholder="Search" id="example-search-input">
          <small [class.d-none]="form.get('search').valid || form.get('search').untouched" >Text required</small>
          <p>{{search}}</p>
      </div>
  </div>
  <div class="mb-3 row">
      <label for="example-email-input" class="col-md-2 col-form-label">{{form_field3}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('email').invalid && form.get('email').touched" class="form-control" formControlName="email" type="email" value="bootstrap@example.com" placeholder="Enter Email" id="example-email-input">
          <small [class.d-none]="form.get('email').valid || form.get('email').untouched" >Email required</small>
      </div>
  </div>
  <div class="mb-3 row">
      <label for="example-url-input" class="col-md-2 col-form-label">{{form_field4}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('url').invalid && form.get('url').touched" class="form-control" formControlName="url" type="url" value="https://getbootstrap.com" placeholder="Enter URL" id="example-url-input">
          <small [class.d-none]="form.get('url').valid || form.get('url').untouched" >Url required</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label for="example-tel-input" class="col-md-2 col-form-label">{{form_field5}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('telephone').invalid && form.get('telephone').touched" class="form-control" formControlName="telephone" type="tel" value="1-(555)-555-5555" placeholder="Enter Telephone" id="example-tel-input">
          <small [class.d-none]="form.get('telephone').valid || form.get('telephone').untouched" >Telephone number required</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label for="example-password-input" class="col-md-2 col-form-label">{{form_field6}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('password').invalid && form.get('password').touched" class="form-control" formControlName="password" type="password" value="hunter2" placeholder="Enter Password" id="example-password-input">
          <small [class.d-none]="form.get('password').valid || form.get('password').untouched" >Password required</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label for="example-number-input" class="col-md-2 col-form-label">{{form_field7}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('number').invalid && form.get('number').touched" class="form-control" formControlName="number" type="number" value="42" placeholder="Enter Number" id="example-number-input">
          <small [class.d-none]="form.get('number').valid || form.get('number').untouched" >Number required</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label for="example-datetime-local-input" class="col-md-2 col-form-label">{{form_field8}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('datetime').invalid && form.get('datetime').touched" class="form-control" formControlName="datetime" type="datetime-local" value="2019-08-19T13:45:00" id="example-datetime-local-input">
          <small [class.d-none]="form.get('datetime').valid || form.get('datetime').untouched" >Please select date and time</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label for="example-date-input" class="col-md-2 col-form-label">{{form_field9}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('date').invalid && form.get('date').touched" class="form-control" formControlName="date" type="date" value="2019-08-19" id="example-date-input">
          <small [class.d-none]="form.get('date').valid || form.get('date').untouched" >Please select date</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label for="example-month-input" class="col-md-2 col-form-label">{{form_field10}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('month').invalid && form.get('month').touched" class="form-control" formControlName="month" type="month" value="2019-08" id="example-month-input">
          <small [class.d-none]="form.get('month').valid || form.get('month').untouched" >Please select month</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label for="example-week-input" class="col-md-2 col-form-label">{{form_field11}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('week').invalid && form.get('week').touched" class="form-control" formControlName="week" type="week" value="2019-W33" id="example-week-input">
          <small [class.d-none]="form.get('week').valid || form.get('week').untouched" >Please select week</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label for="example-time-input" class="col-md-2 col-form-label">{{form_field12}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('time').invalid && form.get('time').touched" class="form-control" formControlName="time" type="time" value="13:45:00" id="example-time-input">
          <small [class.d-none]="form.get('time').valid || form.get('time').untouched" >Please select time</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label for="example-color-input" class="col-md-2 col-form-label">{{form_field13}}</label>
      <div class="col-md-2">
          <input [class.is-invalid]="form.get('color').invalid && form.get('color').touched" class="form-control form-control-color" formControlName="color" type="color" value="#556ee6" id="example-color-input">
          <small [class.d-none]="form.get('color').valid || form.get('color').untouched" >Please select color</small>
        </div>
  </div>
  <div class="mb-3 row">
      <label class="col-md-2 col-form-label">{{select_input1}}</label>
      <div class="col-md-10">
          <select [class.is-invalid]="form.get('select').invalid && form.get('select').touched" class="form-control" formControlName="select">
              <option>Select</option>
              <option>Large select</option>
              <option>Small select</option>
          </select>
          <small [class.d-none]="form.get('select').valid || form.get('select').untouched" >Please select option</small>
        </div>
  </div>

  <div class="row">
      <label for="exampleDataList" class="col-md-2 col-form-label">{{datalist_input1}}</label>
      <div class="col-md-10">
          <input [class.is-invalid]="form.get('datalist').invalid && form.get('datalist').touched" class="form-control" list="datalistOptions" formControlName="datalist" id="exampleDataList" placeholder="Type to search...">
          <datalist id="datalistOptions">
              <option value="San Francisco"></option>
              <option value="New York"></option>
              <option value="Seattle"></option>
              <option value="Los Angeles"></option>
              <option value="Chicago"></option>
            </datalist>
            <small [class.d-none]="form.get('datalist').valid || form.get('datalist').untouched" >Please select option</small>
        </div>
  </div>
<div class="mb-4 row">
 <div class="col-md-10">
  <button class="btn btn-primary" (click)="f()">{{button1}}</button>
  <!-- <i data-feather="calendar" color="skyblue" width="20" height="20"></i> -->
</div>
</div>
<div class="row">
    <label for="" class="col-md-2 col-form-label"> {{form_field14}}</label>
<div class="input-group col-md-10 color-input">
    <input type="color" class="form-control" formControlName="color2">
    <span class="input-group-text">{{color2}}</span>

    <!-- <span class="hexcode">{{color2}}</span> -->
</div>
</div>

</div>
</div>
</div>
</div>


<div class="row">
  <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Sizing</h4>
              <p class="card-title-desc">Set heights using classes like <code>.form-control-lg</code>
                  and <code>.form-control-sm</code>.</p>
              <div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div>
                              <label class="form-label">Default input</label>
                              <input class="form-control" type="text" placeholder="Default input">
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-lg-6">
                          <div class="mt-4">
                              <label class="form-label">Small Input</label>
                              <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="mt-4">
                              <label class="form-label">Large Input</label>
                              <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div> 

<!-- Range -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Range Inputs</h4>
                <!-- <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <label for="customRange1" class="form-label">Example range</label>
                            <input type="range" class="form-range" id="customRange1">
                        </div>
                    </div>
                </div>  -->

                <div class="mt-2 row ">
                    <div class="col-lg-6">
                        <div class="mt-4 ">
                            <label for="customRange1" class="custom-label">{{range_input1}}</label><br>
                            <input type="range" class="custom-range" id="customRange1">
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mt-4">
                            <label for="customRange1" class="custom-label">{{range_input2}}</label>
                            <div class=" range input-group ">

                            <div class="input-group-prepend">
                            <span class="input-group-text">0</span></div>
                            <input type="range" data-toggle="tooltip" title="Hooray!" class="custom-range" min="0" max="5"  id="customRange2" (change)='onChange($event)' class="form-control" formControlName="range">
                           <div class="input-group-append">
                                <span class="input-group-text">5</span></div>
                           </div>

                           
                        </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
<app-checkbox></app-checkbox>
<app-radio></app-radio>
<app-switch></app-switch>
<app-file></app-file>

